*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
.idea/*
/out

#Core
/core/build
/core/out
/core/keystore.properties

#Telegram
/telegram/build
/telegram/out
/telegram/keystore.properties


#Gradle files
.gradle
gradle-app.setting
/gradlew
/gradlew.bat
