*.iml
/local.properties
keystore.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
.idea/*
/out
/core/build
/core/out
/telegram/build
/telegram/out


#Gradle files
.gradle
gradle-app.setting
/gradlew
/gradlew.bat
