*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
.idea/*
/out


#Gradle files
.gradle
gradle-app.setting
reader/gradle/*
reader/gradlew
reader/gradlew.bat
